body {
font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
background-color: #fafafa;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.login-container {
width: 350px;
}

.form-box {
background: white;
border: 1px solid #dbdbdb;
padding: 40px 40px 30px;
text-align: center;
}

.logo {
font-family: 'Billabong', cursive;
font-size: 42px;
margin-bottom: 30px;
}
.input-box{
width: 100%;
}
input {
width: 100%;
padding: 10px 0;
border:1px solid #dbdbdb;
margin: 5px;
outline: none;
border-radius: 5px;
}

#login{
width: 100%;
padding: 10px;
background-color: #0095f6;
color: white;
border: none;
font-weight: bold;
border-radius: 4px;
cursor: pointer;
margin-top: 10px;
}

.divider{
margin: 10px 0;
position: relative;
}
.divider::before,
.divider::after{
content: '';
position: absolute;
width: 100px;
height: 1px;
background: #dbdbdb;
top: 50%;
}
.divider::before{
right: 0;
}
.divider::after{
left: 0;
}
.facebook-login {
color: #385185;
font-weight: bold;
text-decoration: none;
display: block;
margin: 10px 0;
}

.forgot {
font-size: 12px;
color: #00376b;
text-decoration: none;
}

.signup-box {
background: white;
border: 1px solid #dbdbdb;
padding: 20px;
text-align: center;
margin-top: 10px;
}

.signup-box a {
color: #0095f6;
font-weight: bold;
text-decoration: none;
}
.facebook-login{
width: 100%;
display: flex;
justify-content: center;
}
.facebook-login i{
font-size: 23px;
user-select: none;
cursor: pointer;
}
.facebook-login a{
text-decoration: none;
padding-left: 10px;
color: #5c96c0;
}
.facebook-login a:hover{
color: #0077CC;
}
.forgot-password a{
text-decoration: none;
cursor: pointer;
color: black;
transition: 0.3s ease;
}
.forgot-password a:hover{
text-decoration: underline;
}

.message-box {
  margin: 10px 0;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  display: none;
}

.message-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
